<table border="1">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<% @cat.rental_requests.each do |rental| %>
  <li><%= rental.status %></li>
<% end %>


<a href="<%= edit_cat_url(@cat) %>">Edit this cat</a>

<h3>Want to rent this cat?</h3>

<form action="<%= cat_rental_requests_url %>" method="POST">
  <label for="start_date">Start Date: </label>
  <input type="date" name="rental[start_date]" id="start_date">
  <label for="end_date">End Date:</label>
  <input type="date" name="rental[end_date]" id="end_date">
  <input type="hidden" name="rental[cat_id]" value="<%= @cat.id %>">
  <input type="submit" value="Rent Cat!">
</form>